/*
Name: Jacquetta Bommuluri
Date Created: 8/14/2018
Most recent revision: 8/16/2018
*/

label, fieldset {
  font-size: 1.1em;
}

input[type=text] {
  border: 2px solid #A2DDD7;
  width: 50%;
  padding: 8px 8px;
  margin: 12px 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

fieldset {
  background-color: #fef9ff;
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
}

select, textarea {
  margin: 12px 0;
  font-size: 1em;
}

input[type=submit] {
  font-size: 1.2em;
  background-color: #A2DDD7;
  color: #fef9ff;
  padding: 4px 8px;
  margin-bottom: 10px;
}

input[type=submit]:hover{
  background-color: #A2DDD7;
  color: #546a7b;
}

textarea{
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 2px solid #A2DDD7;
  border-radius: 3px;
  background-color: #fff;
  resize: none;
}
